<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SoftCommu</title>
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <style>
        .header {
            background-color: #007bff;
            color: #ffffff;
            text-align: center;
            padding: 10px 0;
        }

        .footer {
            background-color: #007bff;
            color: #ffffff;
            position: fixed;
            bottom: 0;
            width: 100%;
            text-align: center;
            padding: 10px 0;
        }
    </style>
</head>

<body>

<div class="header" style="font-family: Arial, sans-serif;">
  <h1 style="margin: 0;">SoftCommu</h1>
</div>

<div class="container text-center" style="margin-top: 150px;">
  <div th:each="item : ${list}">
    <p th:text="${item}"></p>
  </div>
</div>

<div class="footer" style="font-family: Arial, sans-serif;">
  <p style="margin: 0;">Copyright SoftCommu 2023</p>
</div>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>
